////
/// @group Card
////

/// Padding for bg, cards and other components
$sowp-card-padding: 40px !default;
$sowp-card-spacing: 40px;

.sowp-card {
  margin-bottom: $sowp-card-spacing;
}

.sowp-card__image {
  a {
    display: block;
  }

  img {
    display: block;
    width: 100%;
    height: auto;
  }
}

.sowp-card__heading {
  padding: 40px 40px 30px;
  font-size: 42px;

  h1,
  h2,
  h3,
  h4,
  h5 {
    font-size: inherit;
    margin: 0;
  }
}

.sowp-card__content {
  padding: 40px;

  .sowp-card__heading + & {
    padding-top: 0;
  }

  @include heading {
    &:first-child {
      margin-top: 0;
    }

    &:first-child:last-child {
      line-height: 1;
      margin: 0;
    }
  }

  ~ .sowp-card__image {
    margin-top: -25px;
  }
}

@mixin sowp-card-variant(
  $bg,
  $color,
  $link-color,
  $link-decoration,
  $link-color--hover,
  $link-color-decoration--hover,
  $heading-color) {
  background: $bg;
  color: $color;

  a:not(.btn) {
    color: $link-color;
    text-decoration: $link-decoration;

    &:hover,
    &:focus {
      color: $link-color--hover;
      text-decoration: $link-color-decoration--hover;
    }
  }

  @include heading {
    color: $heading-color;
  }
}

.sowp-card--brand {
  @include sowp-card-variant(
    $bg: $sowp-color-brand,
    $color: $sowp-color-brand--text,
    $link-color: $sowp-color-brand--link,
    $link-decoration: underline,
    $link-color--hover: $sowp-color-brand--link-hover,
    $link-color-decoration--hover: underline,
    $heading-color: inherit);

  &.sowp-card--fold {
    @include sowp-fold($sowp-color-brand--accent);
  }
}

.sowp-card--light {
  @include sowp-card-variant(
    $bg: $sowp-color-light,
    $color: $sowp-color-light--text,
    $link-color: $sowp-color-light--link,
    $link-decoration: none,
    $link-color--hover: $sowp-color-light--link-hover,
    $link-color-decoration--hover: underline,
    $heading-color: null);

  &.sowp-card--fold {
    @include sowp-fold($sowp-color-light--accent);
  }
}

.sowp-card--medium {
  @include sowp-card-variant(
    $bg: $sowp-color-medium,
    $color: $sowp-color-medium--text,
    $link-color: $sowp-color-medium--link,
    $link-decoration: none,
    $link-color--hover: $sowp-color-medium--link-hover,
    $link-color-decoration--hover: underline,
    $heading-color: null);

  &.sowp-card--fold {
    @include sowp-fold($sowp-color-medium--accent);
  }
}

.sowp-card--dark {
  @include sowp-card-variant(
    $bg: $sowp-color-dark,
    $color: $sowp-color-dark--text,
    $link-color: $sowp-color-dark--link,
    $link-decoration: underline,
    $link-color--hover: $sowp-color-dark--link-hover,
    $link-color-decoration--hover: underline,
    $heading-color: inherit);

  &.sowp-card--fold {
    @include sowp-fold($sowp-color-dark--accent);
  }
}


.sowp-card--no-spacing {
  margin-bottom: $sowp-card-spacing;
}
