// .sowp-card {}

.sowp-card__image {
  a {
    display: block;
  }

  img {
    display: block;
    width: 100%;
    height: auto;
  }
}

.sowp-card__heading {
  padding: 20px 20px 30px;
  font-size: 42px;

  h1,
  h2,
  h3,
  h4,
  h5 {
    font-size: inherit;
    margin: 0;
  }

  &::after {
    content: "";
    position: relative;
    top: 20px;
    display: block;
    width: 50px;
    height: 1px;
    background: $white;
  }
}

.sowp-card__content {
  padding: 20px;

  .sowp-card__heading + & {
    padding-top: 0;
  }
}

.sowp-card--brand {
  @include fold($sowp-color-brand--accent);
  background: $sowp-color-brand;
  color: $sowp-color-brand--text;
}

.sowp-card--light {
  @include fold($sowp-color-light--accent);
  background: $sowp-color-light;
  color: $sowp-color-light--text;
}

.sowp-card--dark {
  @include fold($sowp-color-dark--accent);
  background: $sowp-color-dark;
  color: $sowp-color-dark--text;
}


