////
/// @group Checkbox
////

/// Checkbox border
$sowp-checkbox-border: $sowp-color-light--text !default;
/// Checkbox dot color when checkbox is selected
$sowp-checkbox-dot: $sowp-color-brand !default;

.sowp-checkbox,
.sowp-radio {
  position: relative;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;

  label {
    display: inline-block;
    max-width: 100%;
    min-height: 20px;
    padding-left: 20px;
    margin-bottom: 0;
    font-weight: 400;
    cursor: pointer;
  }

  input[type="checkbox"],
  input[type="radio"] {
    display: none;

    + label {
      position: relative;
    }

    // Border
    + label::before {
      content: "";
      display: inline-block;
      width: 1.5em;
      height: 1.5em;
      border: .1em solid $sowp-checkbox-border;
      vertical-align: -.4em;
      margin-left: -20px;
      margin-right: .25em;
    }

    // Dot
    + label::after {
      content: "";
      position: absolute;
      left: .37em;
      display: block;
      width: .75em;
      height: .75em;
      background: $sowp-checkbox-dot;
      top: .37em;
      opacity: 0;
    }

    &:checked + label {
      &::before {
        border-color: $sowp-checkbox-dot;
      }

      &::after {
        opacity: 1;
      }
    }
  }
}

.sowp-radio {
  input[type="radio"] {
    + label::before, + label::after {
      border-radius: 1em;
    }
  }
}

.sowp-checkbox-inline,
.sowp-radio-inline {
  display: inline-block;
}
