// .sowp-grid {}

.sowp-grid--to-3 {
  .sowp-grid--item {
    width: percentage(16 / 16);
  }

  .sowp-grid--gutter {
    width: percentage(1 / 16);
  }

  @media(min-width: 600px) {
    .sowp-grid--item {
      width: percentage(((16 - 1) / 2) / 16);
    }
  }

  @media(min-width: 900px) {
    .sowp-grid--item {
      width: percentage(((16 - 2) / 3) / 16);
    }
  }
}
