@font-face {
	font-family: "sowp";
	src: url('../fonts/sowp.eot');
	src: url('../fonts/sowp.eot?#iefix') format('eot'),
		url('../fonts/sowp.woff2') format('woff2'),
		url('../fonts/sowp.woff') format('woff'),
		url('../fonts/sowp.ttf') format('truetype'),
		url('../fonts/sowp.svg#sowp') format('svg');
}

@mixin isowp-styles {
	font-family: "sowp";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	// speak: none; // only necessary if not using the private unicode range (firstGlyph option)
	text-decoration: none;
	text-transform: none;
}

%isowp {
	@include isowp-styles;
}

@function isowp-char($filename) {
	$char: "";

	@if $filename == accessibility {
		$char: "\E001";
	}
	@if $filename == arrow {
		$char: "\E002";
	}
	@if $filename == circle-left {
		$char: "\E003";
	}
	@if $filename == circle-right {
		$char: "\E004";
	}
	@if $filename == clock-15min {
		$char: "\E005";
	}
	@if $filename == clock-1h {
		$char: "\E006";
	}
	@if $filename == clock-5min {
		$char: "\E007";
	}
	@if $filename == clock-more {
		$char: "\E008";
	}
	@if $filename == docs {
		$char: "\E009";
	}
	@if $filename == kreski {
		$char: "\E00A";
	}
	@if $filename == printer {
		$char: "\E00B";
	}

	@return $char;
}

@mixin isowp($filename, $insert: before, $extend: true) {
	&:#{$insert} {
		@if $extend {
			@extend %isowp;
		} @else {
			@include isowp-styles;
		}
		content: isowp-char($filename);
	}
}

.isowp-accessibility {
	@include isowp(accessibility);
}
.isowp-arrow {
	@include isowp(arrow);
}
.isowp-circle-left {
	@include isowp(circle-left);
}
.isowp-circle-right {
	@include isowp(circle-right);
}
.isowp-clock-15min {
	@include isowp(clock-15min);
}
.isowp-clock-1h {
	@include isowp(clock-1h);
}
.isowp-clock-5min {
	@include isowp(clock-5min);
}
.isowp-clock-more {
	@include isowp(clock-more);
}
.isowp-docs {
	@include isowp(docs);
}
.isowp-kreski {
	@include isowp(kreski);
}
.isowp-printer {
	@include isowp(printer);
}
