@mixin clearfix {
  &::after {
    content: "";
    clear: both;
    display: table;
  }
}

@mixin sowp-fold($color: $sowp-color-brand--accent, $background: $sowp-page-background) {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    border: 20px solid $color;
    border-top-color: $background;
    border-right-color: $background;
  }
}

@mixin dot($color: $sowp-color-brand, $round: true) {
  content: "";
  position: absolute;
  display: block;
  top: .37em;
  left: .37em;
  width: .75em;
  height: .75em;
  background: $color;
  @if $round == true {
      border-radius: 1em;
  }
}

@mixin heading {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6 {
    @content;
  }
}
