@mixin clearfix {
  &::after {
    content: "";
    clear: both;
    display: table;
  }
}

@mixin fold($color: $sowp-color-brand--accent, $background: $sowp-page-background, $top: 0, $right: 0) {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: $top;
    right: $right;
    border: 20px solid $color;
    border-top-color: $background;
    border-right-color: $background;
  }
}
