$sowp-progress-border: #d9d9d9;
$swop-progress-fill: #d82626;

.sowp-progress {
  border: 5px solid $sowp-progress-border;
  height: 3em;
  margin: .5em 0;

  div {
    background: $swop-progress-fill;
    height: 100%;
    width: 30%;
  }
}

