////
/// @group Progress
////

/// Border color
$sowp-progress-border: #d9d9d9 !default;
/// Fill color
$swop-progress-fill: #d82626 !default;

.sowp-progress {
  border: 5px solid $sowp-progress-border;
  height: 3em;
  margin: .5em 0;

  div {
    background: $swop-progress-fill;
    height: 100%;
    width: 30%;
  }
}

