////
/// @group Scroll to top
////

/// Background
$swop-scrol-to-top-bg: $sowp-color-brand !default;
/// Text color
$swop-scrol-to-top-color: $sowp-color-brand !default;

.sowp-scroll-to-top {
  display: block;
  position: relative;
  background: $swop-scrol-to-top-bg;
  width: 80px;
  color: $swop-scrol-to-top-color;
  font-size: 18px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  margin-top: 80px;

  &::after {
    content: "";
    position: absolute;
    top: -19px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid $swop-scrol-to-top-bg;
  }

  &:hover,
  &:focus {
    color: $swop-scrol-to-top-color;
    text-decoration: none;
    opacity: .9;
  }
}
