//  Sowp Components
//  ---------------
//
//  Table of Contents:
//
//   1. Global
//   2. Colors
//   3. Checkbox
//   4. Navbar
//   5. Progress
//   6. Scroll To Top
//   7. Timer Selector
//   8. Top Menu
//   9. Vertical Menu


// 1. Global
// ---------

$sowp-bg-padding: 40px;

// 2. Colors
// ---------

$sowp-color-brand: #d72626;
$sowp-color-brand--accent: #7a1a1a;
$sowp-color-brand--text: #fff;
$sowp-color-brand--link: #fff;
$sowp-color-brand--link-hover: darken($white, 10%);
$sowp-color-light: #f0f0f0;
$sowp-color-light--accent: #808080;
$sowp-color-light--text: #4c4c4c;
$sowp-color-light--link: #d72626;
$sowp-color-light--link-hover: #d72626;
$sowp-color-medium: #d9d9d9;
$sowp-color-medium--accent: #808080;
$sowp-color-medium--text: #4c4c4c;
$sowp-color-medium--link: #d72626;
$sowp-color-medium--link-hover: #d72626;
$sowp-color-dark: #4c4c4c;
$sowp-color-dark--accent: #808080;
$sowp-color-dark--text: #fff;
$sowp-color-dark--link: #fff;
$sowp-color-dark--link-hover: #d72626;

// 3. Checkbox
// -----------

$sowp-checkbox-border: $sowp-color-light--text;
$sowp-checkbox-border--active: $sowp-color-brand;
$sowp-checkbox-dot: $sowp-color-brand;

// 4. Navbar
// ---------

$sowp-navbar-bg: $sowp-color-dark;

// 5. Progress
// -----------

$sowp-progress-border: #d9d9d9;
$swop-progress-fill: #d82626;

// 6. Scroll To Top
// ----------------

$swop-scrol-to-top-bg: $sowp-color-brand;
$swop-scrol-to-top-color: $sowp-color-brand;

// 7. Timer Selector
// -----------------

$sowp-timer-selector-item-color: #fff;
$sowp-timer-selector-item-icon-size: 50px;

// 8. Top Menu
// -----------

$sowp-top-menu-bg: $sowp-color-brand;
$sowp-top-menu-item: $sowp-color-brand--link;
$sowp-top-menu-item-bg: $sowp-color-brand;
$sowp-top-menu-item-bg--hover: $sowp-color-brand--accent;
$sowp-top-menu-caret: $black;
$sowp-top-menu-support-second-level: false;

// 9. Vertical Menu
// ----------------

$sowp-vertical-menu-item-color: $black;
$sowp-vertical-menu-item-color--hover: $sowp-color-brand;
$sowp-vertical-menu-item-active-color: $black;
$sowp-vertical-menu-item-active-color--hover: $sowp-color-brand;

