////
/// @group Card tabs
////


.sowp-cards-tabs {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.sowp-cards-tabs__item {
  width: 20%;
}

.sowp-card-tab {
  @include sowp-fold($sowp-color-light--accent);
  background: $sowp-color-light;
  color: $sowp-color-light--text;

  display: block;
  margin-top: 20px;
  padding: 40px;
  font-size: 25px;

}

.sowp-card-tab--active {
  @include sowp-fold($sowp-color-brand--accent);
  background: $sowp-color-brand;
  color: $sowp-color-brand--text;

  padding: 50px 40px;
}
