// <div class="sowp-card sowp-card--primary">
//   <div class="sowp-card__heading">
//     <h1>Lorem ipsum dolor.</h1>
//   </div>
//   <div class="sowp-card__content">
//     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore a, possimus eius in ex et nisi deserunt excepturi provident sed aliquam ea voluptatibus qui officia quam doloribus modi quis incidunt!</p>
//   </div>
//   <div class="sowp-timer-selector">
//     <div class="sowp-timer-selector__content">
//       <a href="" class="sowp-timer-selector__item">
//         <div class="sowp-timer-selector__icon"><i class="fa fa-question-circle-o"></i></div>
//         <div class="sowp-timer-selector__label">Lorem.</div>
//       </a>
//       <a href="" class="sowp-timer-selector__item">
//         <div class="sowp-timer-selector__icon"><i class="fa fa-question-circle-o"></i></div>
//         <div class="sowp-timer-selector__label">Totam!</div>
//       </a>
//       <a href="" class="sowp-timer-selector__item">
//         <div class="sowp-timer-selector__icon"><i class="fa fa-question-circle-o"></i></div>
//         <div class="sowp-timer-selector__label">Expedita?</div>
//       </a>
//       <a href="" class="sowp-timer-selector__item">
//         <div class="sowp-timer-selector__icon"><i class="fa fa-question-circle-o"></i></div>
//         <div class="sowp-timer-selector__label">Iste.</div>
//       </a>
//     </div>
//     <div class="sowp-timer-selector__indicator"></div>
//   </div>
// </div>

// .sowp-timer-selector {}

.sowp-timer-selector__content {
  @include clearfix;
}

.sowp-timer-selector__item {
  width: 25%;
  text-align: center;
  float: left;
  opacity: .5;
  color: $white;
  transition: opacity 200ms;
  text-decoration: none;

  &:hover,
  &:focus {
    opacity: 1;
  }
}

.sowp-timer-selector__icon {
  display: block;
  font-size: 50px;
}

.sowp-timer-selector__label {
  display: block;
}

.sowp-timer-selector__indicator {
  position: relative;
  height: 20px;
  width: 25%;
  text-align: center;
  transition: 200ms;

  &::before {
    content: "";
    display: inline-block;
    vertical-align: bottom;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid $sowp-page-background;
  }
}
