// .sowp-timer-selector {}

.sowp-timer-selector__content {
  @include clearfix;
}

.sowp-timer-selector__item {
  width: 25%;
  text-align: center;
  float: left;
  opacity: .5;
  color: $white;
  transition: opacity 200ms;
  text-decoration: none;

  &:hover,
  &:focus {
    opacity: 1;
  }
}

.sowp-timer-selector__icon {
  display: block;
  font-size: 50px;
}

.sowp-timer-selector__label {
  display: block;
}

.sowp-timer-selector__indicator {
  position: relative;
  height: 20px;
  width: 25%;
  text-align: center;
  transition: 200ms;

  &::before {
    content: "";
    display: inline-block;
    vertical-align: bottom;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid $sowp-page-background;
  }
}
