////
/// @group Top menu
////

/// Background color
$sowp-top-menu-bg: $sowp-color-brand !default;
/// Item text color
$sowp-top-menu-item: $sowp-color-brand--link !default;
/// Item background color
$sowp-top-menu-item-bg: $sowp-color-brand !default;
/// Item background color whne it's hovered
$sowp-top-menu-item-bg--hover: $sowp-color-brand--accent !default;
/// Caret color
$sowp-top-menu-caret: #000 !default;
/// Support for the second and higher levels (experimental)
$sowp-top-menu-support-second-level: false !default;


.sowp-top-menu {
  @include clearfix;
  background: $sowp-top-menu-bg;
}

.sowp-top-menu-section {
  &,
  & ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    position: relative;
    background: $sowp-top-menu-item-bg;

    &:hover,
    &.hover > a,
    a:hover {
      background: $sowp-top-menu-item-bg--hover;
    }
  }

  .has-children {
    // padding-right: 2em;

    &::after {
      content: "";
      position: absolute;
      border-top: 6px solid $sowp-top-menu-caret;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      display: inline-block;
      top: 17px;
      right: 10px;
    }
  }

  a {
    color: $sowp-top-menu-item;
    text-decoration: none;
    display: block;
    padding: 10px;
  }

  ul {
    padding-left: 1em;
  }

  @media(min-width: 600px) {
    a {
      display: block;
    }
    ul {
      padding-left: 0;
    }

    .has-children {
      padding-right: 2em;
    }

    li {
      &:hover,
      &.hover {
        background: $sowp-top-menu-item-bg--hover;
      }
    }

    > li {
      position: relative;
      float: left;
      display: block;

      &:hover,
      &.hover {

        > ul {
          display: block;
        }
      }
    }
    // dropdown
    > li {
      > ul {
        display: none;
        position: absolute;
        top: 100%;
      }
    }

    @if $sowp-top-menu-support-second-level {
      > li {
        > ul {
          li {
            ul {
              display: none;
            }
            &:hover,
            &.hover {
              > ul {
                display: block;
                position: absolute;
                top: 0;
                // left: 100%;
              }
            }
          }
        }
      }
    }
  }
}

.sowp-top-menu-section--space-between {
  > ul {
    display: flex;
    justify-content: space-between;
  }
}

@media(min-width: 600px) {
  .sowp-top-menu-section--right {
    float: right;
    @if $sowp-top-menu-support-second-level {
      > li > ul li {
        &:hover,
        &.hover {
          > ul {
            right: 100%;
          }
        }
      }
    }
  }
  .sowp-top-menu-section--left {
    @if $sowp-top-menu-support-second-level {
      > li > ul li {
        &:hover,
        &.hover {
          > ul {
            left: 100%;
          }
        }
      }
    }
  }
}
