////
/// @group vertical menu
////

/// Color of vertical menu item
$sowp-vertical-menu-item-color: $black !default;
/// Color of vertical menu item when hover
$sowp-vertical-menu-item-color--hover: $sowp-color-brand !default;
/// Color of vertical menu active item
$sowp-vertical-menu-item-active-color: $black !default;
/// Color of vertical menu item when hover
$sowp-vertical-menu-item-active-color--hover: $sowp-color-brand !default;


// .sowp-vertical-menu {}

.sowp-vertical-menu__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: none;

  @media(min-width: 600px) {
    display: block;
  }
}

.sowp-vertical-menu__item {
  display: inline-block;
  font-size: 23px;
  padding: 10px 20px;

  a {
    text-decoration: none;
    color: $sowp-vertical-menu-item-color;
    &:hover, &:focus {
      color: $sowp-vertical-menu-item-color--active;
      text-decoration: none;
    }
  }

  &:first-child {
    padding-left: 0;
  }
}

.sowp-vertical-menu__item--active {
  a {
    color: $sowp-vertical-menu-item-active-color;

    &:hover,
    &:focus {
      color: $sowp-vertical-menu-item-active-color--hover;
    }
  }
}

.sowp-vertical-menu__select {
  position: relative;

  select {
    display: block;
    width: 100%;
    background: $sowp-color-light;
    color: $sowp-color-brand;
    font-size: 24px;
    line-height: 1em;
    border: 0;
    padding: 5px;
  }

  &::after {
    content: "V";
    position: absolute;
    color: $white;
    line-height: 40px;
    text-align: center;
    display: block;
    height: 100%;
    width: 40px;
    top: 0;
    right: 0;
    background: $sowp-color-brand;
    pointer-events: none;
  }

  @media(min-width: 600px) {
    display: none;
  }
}
